img {

    width: 75px
}

.button-bar {

    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    margin-left: 115px;
}

.menu-button {

    background-color: hotpink;
    border: 20px;
    border-color: black
}

.scroll-box {
    border: 2px solid black;
    height:400px;
    overflow:scroll;
    text-align: center;
}

.filters {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 20px
}

.topic-button {
    width: 100%
}

#selected-topic{

    background-color: hotpink;

}

.topic-card {

    display:flex;
    
    border: 1px solid black
}

.fav-button {

    display: flex
}

.fave-star {
    outline: none
}
.fave-star:focus {
    text-decoration: none;
    outline: none
}


button:focus {
    background-color: white !important;
}